---
layout: default
permalink: /test.html
title: TEST
---

  <h1 class="mt-1 text-left text-danger">{{ page.title }}</h1>
  
  <div class="row">
    <div class="col">
<!--		
	  <section>
	    <h4 class="mt-1 text-left text-primary">Global Variables</h4>
        <p>
		  <ul data-header="Site Vars">
		    <li><b>URL:</b> {{ site.url }}</li>
		    <li><b>Base URL:</b> {{ site.baseurl }}</li>
		    <li><b>Time:</b> {{ site.time }}</li>
		    <li><b>Title:</b> {{ site.title }}</li>
		    <li><b>Email:</b> {{ site.email }}</li>
		    <li><b>Description:</b> {{ site.description }}</li>
		  </ul>
        </p>
	  </section>
		
	  <section>
	    <h4 class="mt-1 text-left text-primary">Site Tags</h4>
        <p>
        {% for tag in site.data.tagList %}
          {% assign numPosts = site.tags[tag.slug] | size %}
		  <a href="/tags/{{ tag.slug }}.html">#{{ tag.name }}</a>
		  &nbsp;[{{ numPosts }}]
	      {% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </p>
	  </section>
		
	  <section>
	    <h4 class="mt-1 text-left text-primary">Site Pages</h4>
        <p>
        {% assign numPages = site.pages | size %}
		  <b>Page Count:</b> [{{ numPages }}]<br/>
		  <b>Page List:</b> 
        {% for item in site.pages %}
		  {{ item.name }}:{{ item.url }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </p>
	  </section>
		
	  <section>
	    <h4 class="mt-1 text-left text-primary">Site Posts</h4>
        <p>
        {% assign numPosts = site.posts | size %}
		  <b>Post Count:</b> [{{ numPosts }}]<br/>
		  <b>Post List:</b> 
        {% for item in site.posts %}
		  {{ item.name }}:{{ item.url }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </p>
	  </section>
		
	  <section>
	    <h4 class="mt-1 text-left text-primary">Static Files</h4>
        <p>
        {% assign numFiles = site.static_files | size %}
		  <b>File Count:</b> [{{ numFiles }}]<br/>
		  <b>File List:</b> 
        {% for item in site.static_files %}
		  {{ item.name }}:{{ item.path }} {% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </p>
	  </section>
-->	
    </div>
  </div>
  