<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no1">
    <meta charset="utf-8">
	
	<meta name="author" content="Dan Carroll, Avon Park, FL, USA" />
	<meta name="document-rights" content="Copyrighted Work" />
	<meta name="copyright" content="Copyright 2021. Daniel M. Carroll. All Rights Reserved." />
	<meta name="rating" content="General" />
	
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
   
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">

    {% include analytics.html %}
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

	<style>
      body {
        background-color: #E6E6FA;
      }
	  .container {
	    background-color: #FFFFFF;
	  }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark px-lg-5">

		  <span class="navbar-brand bg-dark mb-0 mx-lg-5 mx-md-3 h1">
		  <img src="/assets/img/icon-192x192.png" alt="books icon" width="50" height="50">
		  &nbsp; &nbsp; Dan Reads</span>

		<button class="navbar-toggler navbar-toggler-right mr-md-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
		
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mr-xl-5 mr-md-3">
            <li class="nav-item 
			{% if page.title == "Home" %}
			active
			{% endif %}
			">
              <a class="nav-link" href="/">Home 
			{% if page.title == "Home" %}  
			  <span class="sr-only">(current)</span>
			{% endif %}
			  </a>
            </li>
            <li class="nav-item 
			{% if page.title == "News" %}
			active
			{% endif %}
			">
              <a class="nav-link" href="/news.html">News
			{% if page.title == "News" %}  
			  <span class="sr-only">(current)</span>
			{% endif %}
			  </a>
            </li>
            <li class="nav-item 
			{% if page.title == "Reviews" %}
			active
			{% endif %}
			">
              <a class="nav-link" href="/reviews.html">Reviews
			{% if page.title == "Reviews" %}  
			  <span class="sr-only">(current)</span>
			{% endif %}
			  </a>
            </li>
            <li class="nav-item 
			{% if page.title == "Authors" %}
			active
			{% endif %}
			">
              <a class="nav-link" href="/authors.html">Authors
			{% if page.title == "Authors" %}  
			  <span class="sr-only">(current)</span>
			{% endif %}
			  </a>
            </li>
            <li class="nav-item 
			{% if page.title == "About" %}
			active
			{% endif %}
			">
              <a class="nav-link" href="/about.html">About
			{% if page.title == "About" %}  
			  <span class="sr-only">(current)</span>
			{% endif %}
			  </a>
            </li>
          </ul>
        </div>
		
      </nav>
	</header>
	<div class="container">
	  <section>
	
        {{ content}}
	
	  </section>
    </div>
	<footer class="bg-secondary pt-3">
	  <div class="container bg-secondary">
	    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
		  <div class="col p-3">
			<div class="card bg-secondary text-white h-100">
			  <div class="card-body">
				<h5 class="text-center">Social Sites</h5>
				<ul style="list-style-type: none;font-size: 1rem;">
				  <li>
					<img src="/assets/img/facebook.svg" alt="Facebook" width="28" height="28">
					  <a href="{{site.facebook}}" class="text-white"> Facebook.com/{{site.facebook_username}}</a>
				  </li>
				  <li class="pt-2">
					<a href="https://twitter.com/FloriDanOnline" class="text-white">
					<img src="/assets/img/twitter.svg" alt="Twitter" width="28" height="28">
					Twitter.com/FloriDanOnline</a>
				  </li>
				  <li class="pt-2">
					<a href="https://github.com/dan-carroll" class="text-white">
					<img src="/assets/img/github.svg" alt="GitHub" width="28" height="28">
					Github.com/dan-carroll</a>
				  </li>
				  <li class="pt-2">
					<a href="https://www.instagram.com/dcarroll809/" class="text-white">
					<img src="/assets/img/instagram.svg" alt="Instagram" width="28" height="28">
					Instagram.com/dcarroll809</a>
				  </li>
				  <li class="pt-2">
					<a href="https://www.linkedin.com/in/dan-carroll-in-florida/" class="text-white">
					<img src="/assets/img/linkedin.svg" alt="LinkedIn" width="28" height="28">
					Linkedin.com/in/dan-carroll-in-florida</a>
				  </li>
				</ul>
			  </div>
		    </div>
		  </div>
		  <div class="col p-3">
			<div class="card bg-secondary text-white h-100">
			  <div class="card-body">
				<h5 class="text-center">Additional Pages</h5>
				<ul>
				  <li>
					<a href="terms_of_service.html" class="text-white">
					Terms of Service</a>
				  </li>
				  <li>
					<a href="privacy_policy.html" class="text-white">
					Privacy Policy</a>
				  </li>
				  <li>
					<a href="review_policy.html" class="text-white">
					Review Policy</a>
				  </li>
				  <li>
					<a href="cookie_policy.html" class="text-white">
					Cookie Policy</a>
				  </li>
				  <li>
				    <a href="/tag-list.html" class="text-white">
					List of All Tags</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		  <div class="col p-3">
			<div class="card bg-secondary text-white h-100">
			  <div class="card-body">
				<h5 class="text-center">Additional Sites</h5>
				<ul>
				  <li>
					<a href="https://dan-carroll.github.io/" class="text-white" target="_blank">
					365 Day Graphics Design Challenge</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <div class="text-center pt-2 bg-secondary">
	    <p>Icons made by <a href="https://www.freepik.com" title="Freepik" class="text-white">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" class="text-white">www.flaticon.com</a></br>
		And some <a href="https://getbootstrap.com/docs/4.5/extend/icons/" class="text-white">Bootstrap icons</a>.
		</p>
	  </div>

		<!-- Copyright -->
	  <div class="text-center py-3 bg-info">© 2021 Dan Carroll @
		  <a href="https://dmcarroll.net/" class="text-white"> DMCarroll.net</a>
		  {% if page.updated %}
		  </br>Updated: {{ page.updated }}
		  {% endif %}
	  </div>
		<!-- Copyright -->
	 </footer>

<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- My JS -->
	  
  </body>
</html>
