---
layout: default
---

  <div class="row">
	<div class="col-12 col-md-5 my-4 mx-auto pl-4">
	  <p>
	{% if page.image %}
	    <img class="mx-2 rounded float-left" src="{{ page.image }}" alt="{{ page.image_alt }}" style="width: 25%;height:auto;">
	{% endif %}		
	    <h1 class="mt-1 text-left text-primary">{{ page.title }}</h1>
	  </p>
	  <p style="clear:both">
	    <h3 class="text-muted">{{ page.sub-title }}</h3>
	  </p>

	  {% if page.genre == "all" %}
	    {% assign filtered_posts = site.reviews | where: 'type', "review" %}
	  {% else %}
	    {% assign filtered_posts = site.reviews | where: 'sub_type', page.genre %}
	  {% endif %}
	  {% for review in filtered_posts %}
	  <hr>
	  {% if review.cover_image %}
	  <img class="mx-2 rounded float-left" src="{{ review.cover_image }}" alt="books icon" style="width: 25%;height:auto;">
	  {% endif %}
	  <a href="{{ review.url }}">
	  <h2 class="text-primary">{{ review.title }}</h2></a>
	  {% if review.series %}
	  <h5 class="text-muted">{{ review.series }} Series
	    {% if review.series_num %}&nbsp;#{{ review.series_num }} {% endif %} </h5>
      {% endif %}	
	  <h4 class="pl-4">{{ review.copyright }}  --  {{ review.author }}</h4>
	  <p>{{ review.description }}</p>
	  {% endfor %}
	
	</div>
    <div class="col-4 col-md-3 my-4 mx-auto">
	  Topics (Tags)
	</div>
    <div class="col-8 col-md-4 my-4 mx-auto">
	  Book Genres (Categories)
	</div>
  </div>
	