---
layout: default
---

<div class="row">
  <div class="col-12 col-md-6 mt-3">
	<p>
	  <a href="/reviews.html">Reviews</a>&nbsp;/&nbsp;<a href="/reviews/{{ page.genre }}/">{{ page.genre | replace: "_", " " | capitalize }}</a>
	    &nbsp;/&nbsp;{{ page.title }}
	<p>
	<div class="text-center">
	  <img class="mx-auto" src="{{ page.cover_image }}" alt="{{ page.image_alt }} image" style="max-width:50%;height:auto;">
	</div>
	<h2 class="text-center text-primary">{{ page.title }}</h2>
	{% if page.series %}
	<h4 class="text-center text-muted">{{ page.series }} Series
	  {% if page.series_num %}&nbsp;#{{ page.series_num }} {% endif %} </h4>
    {% endif %}	
	{% if page.updated %}
	<br>Updated:&nbsp;{{ page.updated | date_to_string }}
	{% endif %}
	<p class="text-center">{{ page.date | date_to_string }}&snbsp;-&nbsp;
	{% if page.author_page %}
	<a href="/authors/{{ page.author_page }}.html">{{ page.author }}</a>
	{% else %}
	{{ page.author }}
	{% endif %}
	</p>
	{% if page.intro %}
	<div class="bd-callout bd-callout-info mx-2">
	  <h4>Book Cover Summary</h4><br>
	  {{ page.intro | markdownify }}
	  </div>
	{% endif %}  
	<div class="p-3">
	{{ content }}
	</div>
	{% if page.tags %}
	<div class="p-3">
	{% include page-tags.html %}
	</div>
	{% endif %}
  </div>
  <div class="col-12 col-md-6 mt-3">
    {% if page.series %}
	<h2 class="text-primary">{{ page.series }}</h2>
	{% assign filtered_posts = site.reviews | where: 'series', page.series %}
	<ul style="list-style-type:none">
	{% for review in filtered_posts %}
	  <li class="h5 text-info"><a href="{{ review.url }}">{{ review.title }}&nbsp;#{{ review.series_num }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
	{% if page.author_page %}
	<div class="p-3">
	<a href="/authors/{{page.author_page}}.html" class="h5 text-info">Visit {{ page.author }}'s Page</a>
	</div>
	{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
  
  </div>
  <div class="col-12 col-md-6">
  
  </div>
</div>