<div>
  <h1>Articles tagged with "{{ page.tag-name }}"</h1>
  <ul style='padding-top: 16px;'>
  
  {% for post in site.reviews %}
    {% if post.tags contains page.tag-name %}
      <li><span class="badge badge-pill badge-primary">Review</span> <a href="{{ post.url }}">{{ post.title }}</a>, published {{ post.date | date: "%Y-%m-%d" }}</li>
    {% endif %}
  {% endfor %}
  
  {% for post in site.posts %}
    {% if post.tags contains page.tag-name %}
      <li><span class="badge badge-pill badge-success">News</span> <a href="{{ post.url }}">{{ post.title }}</a>, published {{ post.date | date: "%Y-%m-%d" }}</li>
    {% endif %}
  {% endfor %}
  
  {% for post in site.authors %}
    {% if post.tags contains page.tag-name %}
      <li><span class="badge badge-pill badge-info">Author</span> <a href="{{ post.url }}">{{ post.title }}</a>, published {{ post.date | date: "%Y-%m-%d" }}</li>
    {% endif %}
  {% endfor %}
  
  </ul>
</div>